/* layout */

.wrapper {
}

/* twitter */

#livetweets {
    list-style-type:none;
    position:relative;
}
#livetweets .tweet {
	overflow: hidden;
}
#livetweets .tweet p {
  font-size: small;
}

.spyWrapper {
    height: 100%;
    overflow: hidden;
    position: relative;    
}
